.charge-request {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 20px;

    >div>p:first-of-type {
        font-weight: 700;
    }

    .qr-transfer {
        text-align: center;

        >img {
            width: 100%;
            max-width: 200px;
        }
    }
    .charge-request-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;

        .charge-request-btn {
            width: fit-content;
            background-color: #ce252a;
            text-transform: none;
        }
    }
    @media screen and (max-width: 679px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        >div>img {
            width: 50%;
        }
    }
}

.charge-request-guide {
    margin-top: 20px;

    &::before {
        display: none !important;
    }

    >div:first-child {
        background-color: #f5f5f5;

        >div>p {
            font-weight: 700;
        }
    }
    
    >p:nth-child(2) {
        line-height: 1.8rem;
        margin: 5px 15px;
    }

    .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
        height: 48px !important;
        min-height: 48px !important;
        background-color: #f5f5f5;
    }
}