.transaction {
    .purchase-history-table, 
    .charge-history-table {
        .css-kzyyzb-MuiDataGrid-root {
            border-color: silver;
            border-radius: 0;
            border-left: none;
            border-right: none;
        }

        .css-pdct74-MuiTablePagination-selectLabel {
            display: none !important;
        }

        .odd {
            background-color: #f5f5f5;
        }

        .MuiDataGrid-columnHeaders {
            width: 100%;
            background-color: #f5f5f5 !important;
        }

        .header {
            background-color: #f5f5f5;

            .MuiDataGrid-columnHeaderTitleContainer {
                justify-content: center;
            }

            .css-t89xny-MuiDataGrid-columnHeaderTitle {
                font-weight: 700;
            }
        }
    }
    >div:not(:first-child){
        >p {
            font-size: 1.6em;
            font-weight: 700;
            color: #ce252a;
        }

        >div {
            overflow-x: scroll;
            >p {
                font-weight: 700;
                font-size: 1.4rem;
                margin: 15px 0;
            }
        }
    }
}