.transaction {
    .purchase-history-table {
        .css-kzyyzb-MuiDataGrid-root {
            border-color: silver;
            border-radius: 0;
            border-left: none;
            border-right: none;
        }
        .odd {
            background-color: #f5f5f5;
        }

        .header {
            background-color: #f5f5f5;

            .MuiDataGrid-columnHeaderTitleContainer {
                justify-content: center;
            }

            .css-t89xny-MuiDataGrid-columnHeaderTitle {
                font-weight: 700;
            }
        }
    }
    >div:not(:first-child){
        >p {
            font-size: 1.6em;
            font-weight: 700;
            color: #ce252a;
        }

        >div {
            overflow-x: scroll;
            >p {
                font-weight: 700;
                font-size: 1.4rem;
                margin: 15px 0;
            }

            >table {
                width: 100%;
                border-collapse: collapse;
                border-bottom: 1px solid silver;
                >tr:nth-child(odd) {
                    background-color: #f5f5f5;
                }
                >tr>td, >tr>th {
                    padding: 10px;
                    border-top: 1px solid silver;
                    text-align: center;
                }
            }
        }
    }
}