.search-result {
    display: grid;
    grid-template-columns: 20% calc(80% - 30px);
    gap: 30px;
    transition: all 0.5s ease-in-out;

    .search-result-left {
        position: relative;
        transition: all 0.5s ease-in-out;
    }

    .filter-toggle-icon {
        position: absolute;
        right: -10px;
        top: -8px;
        color: #ce252a;
        display: none;
        transition: all 0.5s ease-in-out;
    }

    .product {
        align-content: start;
    }

    @media screen and (max-width: 728px) {
        grid-template-columns: 30% calc(70% - 25px);
        gap: 25px;
        
        .search-filter>h3 {
            font-size: medium;
        }
    }

    @media screen and (max-width: 426px) {
        display: flex;
        flex-direction: column;

        .filter-toggle-icon {
            display: flex;
        }

        .search-filter {
            display: none;
        }
    }
}

.search-filter {
    display: flex;
    flex-direction: column;
    gap: 20px;

    >h3 {
        display: block;
        text-align: center;
        color: #ce252a;
        font-size: large;
        margin: 0;
    }
    
    >div {
        >p {
            font-weight: 700;
            color: #ce252a;
        }
    }

    .type-option, .brand-option {
        >div {
            &::before {
                content: 'â—';
                font-size: larger;
                color: #c5c5c5;
            }
            
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 5px;
            padding: 0 10px;

            &.active, &:hover {
                color: #ce252a;
                &::before {
                    color: #ce252a
                }

                @media screen and (max-width: 426px) {
                    color: white;
                    background-color: #ce252b;
                }
            }

            @media screen and (max-width: 426px) {
                &::before { display: none; }
                background-color: #f5f5f5;
                padding: 5px;
                flex: 1 1 0px;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }

        @media screen and (max-width: 426px) {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    .filter-price-year-cc {
        display: flex;
        flex-direction: column;
        gap: 15px;

        >div {
            display: flex;
            flex-direction: column;
            gap: 10px;

            >output {
                font-size: smaller;
                margin-left: auto;
            }

            .slider {
                appearance: none;
                width: 100%;
                height: 5px;
                background: #c5c5c5;
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
                  
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background: #ce252a;
                    cursor: pointer;
                }

                &::-moz-range-thumb {
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background: #ce252a;
                    cursor: pointer;
                }
            }
        }

        @media screen and (max-width: 426px) {
            gap: 10px;
        }
    }

    .filter-submit {
        display: block;
        text-align: center;
        text-transform: none;
        background-color: #ce252a;

        &:hover {
            background-color: #b72126;
        }
    }
}