.purchase-order {
    .order-status-tab {
        display: flex;
        background-color: #f5f5f5;
        overflow-x: scroll;
        >div {
            flex: 1 1 0;
            min-width: fit-content;
            text-align: center;
            padding: 10px 15px;
            cursor: pointer;
            &:hover, &.active {
                border-bottom: 2px solid #ce252a;
                border-radius: 2px;
            }
        }
    }

    .order-list {
        >div {
            margin: 15px 0;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 0 0 10px 10px;
            overflow: scroll;
            .order-status {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid silver;
                align-items: center;
                padding: 5px 10px;
                >p:nth-child(1) {
                    font-weight: 700;
                }
                >p:nth-child(2) {
                    background-color: #f5f5f5;
                    padding: 5px 10px 3px 10px;
                    border-radius: 8px;
                }
            }
            .order-products {
                border-bottom: 1px solid #f5f5f5;
                margin-bottom: 10px;
                padding: 5px 10px;

                .order-product {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid silver;
                    
                    >img {
                        width: 70px;
                        height: 70px;
                        border: 1px solid silver;
                        object-fit: contain;
                    }

                    >div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        >div {
                            padding: 5px 15px;
                            >p:nth-child(2) {
                                color: gray;
                            }
                        }
                    }

                    .order-product-price {
                        color: #ce252a;
                    }
                }
                >table {
                    border-collapse: collapse;
                    width: 100%;
                    text-align: right;
                    >tr {
                        border-bottom: 1px solid #e5e5e5;
                        >td {
                            padding: 10px 15px;
                        }
                        >td:nth-child(1) {
                            border-right: 1px solid #e5e5e5;
                        }
                        >td:nth-child(2) {
                            width: 30%;
                            min-width: fit-content;
                            color: #ce252a;
                        }
                        .order-total {
                            font-size: large;
                            font-weight: 700;
                        }
                        .order-cancel-btn {
                            background-color: #ce252a;
                            color: white;
                            width: fit-content;
                            padding: 5px;
                            margin-left: auto;
                            text-transform: none;
                            font-size: small;
                        }
                    }
                }
            }
        }
    }
}